h1{
    color: rgb(248, 252, 252);
    font-weight: bold;
    animation: forwards; 
    text-align: center;
    background-color: rgb(129, 121, 121);
    border: 2px solid white;
    
}
p{color: rgb(35, 41, 41);
    font-size: 150%;font-weight: bolder;
    text-align: center;

}
#para1{
    font-weight: bold;
    font-size: 130%;
}
#para2{color: rgb(17, 17, 16);
font-weight: 300;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
body{
    background-color: rgb(253, 252, 252);
    background-image: url(six.html/IMG_3873.JPG);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right top;
    background-size: contain;
    margin-right: 50px;
}
